*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #ffffff;
    display: flex;
}
.memory-game {
    width: 440px;
    height: 440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0.1px rgba(0, 0, 0, 0.1),
                -1px -1px 5px rgba(0, 0, 0, 0.1);
}
.memory-card{
    padding: 0px;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    position: relative;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 6px 6px 2px 0.1px rgba(0, 0, 0, 0.1),
                -1px -1px 5px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.memory-card.shake {
    animation: shake 0.35s ease-in-out;
}
@keyframes shake {
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}
.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}
.memory-card.flip {
    transform: rotateY(180deg);
}
.front-face, h1 {
    position: absolute;
    width: 80%;
    height: 80%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    backface-visibility: hidden;
}
.front-face {
    transform: rotateY(180deg);
}
img {
    width: 100%;
  
}
h1{
    font-size: 60px;
    width: 100%;
    color: rgb(88, 88, 230);
}